@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    --default: #2CA0C5;
    --dark: #268AAB;
    --darker: #1D6B85;
    --light: #8CDAF5;
    --intense: #2EA8D1;
}

app {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sidebar {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
}

.main {
    position: absolute;
    left: 200px;
    top: 0;
    right: 0;
    height: 100%;
}

    .main .header {
        height: 100px;
        width: 100%;
    }

    .main .content {
        position: absolute;
        top: 100px;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .main .content .big-logo {
        position: fixed;
        width: 300px;
        height: 300px;
        left: 0;
        right: 0;
        top: 100px;
        margin: auto;
    }

        .main .content .big-text {
            position: fixed;
            width: 100%;
            left: 0;
            right: 0;
            text-shadow: 5px 3px 6px rgba(0,0,0,0.65);
            top: 380px;
            font-size: 30px;
            margin: auto;
            color: black;
            -webkit-text-stroke: 1px var(--darker);
            text-align: center;
            font-weight: bold;
        }

    .main .content .button-primary {
        position: fixed;
        width: 200px;
        height: 40px;
        background-color: var(--default);
        border-radius: 5px;
        border: 1px solid black;
        left: 0;
        right: 0;
        top: 480px;
        margin: auto;
        text-align: center;
        font-weight: bold;
        color: #FFFFFF;
        line-height: 40px;
        cursor: pointer;
    }

        .main .content .button-primary:hover {
            background-color: var(--dark);
        }

        .main .content .button-primary:active {
            background-color: var(--darker);
        }
